<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel= 'stylesheet' href='{{ url_for("static", filename="css/style.css") }}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">

        <div class="top-bar">
            <h2>Weather App</h2>
            <h5>Ashish Kushwaha</h5>
            <button onclick="toggleDark()">🌙 change theme</button>
        </div>

        <input type="text" id="city" placeholder="Enter city">
        <div id="suggestions"></div>    
        <button onclick="getWeather()">Get Weather</button>
        <button onclick="addFavorite()">⭐ Add Favorite</button>

        <p id="loading" style="display:none;">Loading...</p>
        <p id="error"></p>

        <div id="weather"></div>
        <div id="forecast"></div>
        <div id="favorites"></div>

    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
